@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-5">
    <h1 class="text-primary text-lg-center text-uppercase">Welcome to MyTopMovies!</h1>
    <br/>
    <p class="text-body">
        MyTopMovies is a voting platform for movies. Here you can create Selections for different Lists with variety of criterias and rank your <em>Top</em> movies.
    </p>
</div>
<br/>
<br/>
<br/>
<div class="card-group">
    <div class="row justify-content-around align-items-center">
        <div class="col-sm-4 ">
            <div class="card text-center"  style="height: 400px;">
                <div class="card-body">
                    <div style="height: 30%">
                        <h2 class="card-title">Top Movie Lists</h2>
                    </div>
                    <div style="height: 50%">
                        <p class="card-text">View from our wide range of lists created by users, and make your own selection to have a say in the final rankings.</p>
                    </div>
                    <div style="height: 20%">
                    <a class="card-link btn btn-primary btn-lg" asp-controller="Lists" asp-action="Index">View all lists>></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center" style="height: 400px;">
                <div class="card-body">
                    <div style="height: 30%">
                        <h2 class="card-title">Create Movie Lists</h2>
                    </div>
                    <div style="height: 50%">
                        <p class="card-text">Create your own list for users to make selections, specify unique criterias that each selection must follow.</p>
                    </div>
                    <div style="height: 20%">
                        <a class="card-link btn btn-primary btn-lg" asp-controller="Lists" asp-action="Create" asp-route-returnPoint="Home.Index">Create list>></a>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    
</div>

