@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p class="text-danger"> *This app does not currently have a real email sender registered, Normally this would be emailed.</p>
<p>
    Please check your email to reset your password.
</p>
